li{
  list-style: none;
}
p,ul{
  margin:0;
  padding:0;
}
.loading{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
.list{
  width:96%;
  margin:0 auto;
  .studylist{
    display: flex;
    width:100%;
    flex-wrap:wrap;
    border-top:1px solid gray;
    padding-top:20px;
    justify-content:flex-start;
    box-sizing: border-box;
    .studylist_item{
      margin-right:2.5%;
      margin-bottom:10px;
      width:18%;
      height:200px;
      background: #fff;
      box-shadow: 0 0 4px 4px #f0f0f0;
      border-radius: 4px;
      padding: 20px;
      .itemhead{
        display: flex;
        justify-content: space-between;
        margin-bottom:20px;
        h3{
          line-height: 20px;
          font-size: 16px;
          cursor: pointer;
          span{
            color:#1890ff;
            margin-left: 10px;
          }
        }
      }
      .itemdescription{
        height:70px;
        line-height: 14px;
        font-size: 12px;
        margin-bottom: 20px;
        overflow: hidden;
      }
      .item_footer{
        display: flex;
        justify-content: space-between;
      }
    }
    .studylist_item:nth-of-type(5n){
      margin-right:0;
    }
  }
  .list_pagination{
    margin:40px 0;
    text-align: center;
    ul{
      display: inline-block;
    }
  }
  .search{
    margin:10px 0;
    width:315px;
    position: relative;
    .search_input{
      border:none;
      width:240px;
      border-bottom: 1px solid black;
      outline: none;
    }
    .search_btn{
      position: absolute;
      right:0;
      top:0;
      cursor: pointer;
    }
  }
}
.status_wrap{
  background: #eee;
  // height:100vh;
  padding: 20px;
  .chartslist{
    width:100%;
    li{
      width:50%;
      height:auto;
      background: white;
      padding:10px;
      margin-bottom: 20px;
      .charts{
        width:100%;
        height:300px;
      }
    }
  }
}